
/* 各要素の長さ */
.container {
  height: 100%;
  width: 190%;
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  justify-content: space-evenly; /* 要素を均等間隔に分散させる */
}

.item {
  box-sizing: border-box;
  padding: 4px;
}
/* 項目のキャプションが折り返してしまわないように設定 */
.item_label {
  white-space: nowrap;
}
/* 各要素の長さ */
.item1 {
  width: 50%;
  background-color: #c5d1d8;
}

.item2 {
  width: 30%;
  background-color: #c546ff;
}

.item3 {
  width: 100%;
  background-color: #a4d76e;
}

.item4{
  width: 40%;
  background-color: #114514;
}


