/*全体*/
.bottom_toolbar {
    height: 120px !important;
}


.hidden_box_japanese {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタンホバー時*/
.hidden_box_japanese label:hover {
    background: #efefef;
}
/*中身を非表示にしておく*/
.hidden_box_japanese .hidden_show_japanese {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box_japanese input:checked ~ .hidden_show_japanese {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}


.hidden_box_english {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}
/*ボタンホバー時*/
.hidden_box_english label:hover {
    background: #efefef;
}
/*中身を非表示にしておく*/
.hidden_box_english .hidden_show_english {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
/*クリックで中身表示*/
.hidden_box_english input:checked ~ .hidden_show_english {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/*ボタン装飾*/
/* .hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
} */

/*チェックは見えなくする*/
/* .hidden_box input {
    display: none;
} */

/* ol {
  list-style-type: none;
} */

h1{
  font-size: 20px;
}
h2{
  font-size: 16px;
}
p{
  font-size: 10px;
}
li{
  font-size: 10px;
}


.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #696969;
  border: solid 2px #696969;
  border-radius: 3px;
  transition: .4s;
}

/*.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}*/
